img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

p {
  margin: 0 0 1.25rem;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 1.75rem;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 574px) {
  h1 {
    font-size: 1.125rem;
  }
}

h2 {
  font-size: 1.75rem;
}

@media only screen and (max-width: 1260px) {
  h2 {
    font-size: 1.625rem;
  }
}

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 1.375rem;
  }
}

@media only screen and (max-width: 574px) {
  h2 {
    font-size: 1.125rem;
  }
}

h3 {
  font-size: 1.375rem;
}

@media only screen and (max-width: 1260px) {
  h3 {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 574px) {
  h3 {
    font-size: 1.125rem;
  }
}

h4 {
  font-size: 1.25rem;
}

@media only screen and (max-width: 1260px) {
  h4 {
    font-size: 1.125rem;
  }
}

h5 {
  font-size: 1.125rem;
}

@media only screen and (max-width: 1260px) {
  h5 {
    font-size: 1rem;
  }
}

h6 {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  line-height: 1.4285;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: -8px;
}

@media only screen and (max-width: 574px) {
  table tbody {
    display: block;
  }
}

table th {
  color: #000;
  text-align: left;
}

table tr:nth-child(odd) {
  background: #F4F4F4;
}

table tr th, table tr td {
  padding: 10px;
  border: none;
  width: 50%;
  border-bottom: 1px solid #DBE5E9;
  vertical-align: top;
}

@media only screen and (max-width: 574px) {
  table tr th, table tr td {
    padding: 0;
    display: block;
    width: 100%;
    border-bottom: 0;
  }
}

table tr tr {
  background: none !important;
}

table tr tr:not(:last-child) {
  border-bottom: 1px solid #F4F4F4;
}

@media only screen and (max-width: 574px) {
  table tr tr {
    margin-bottom: 0.625rem;
    display: block;
  }
}

@media only screen and (max-width: 574px) {
  table {
    display: block;
  }
  table th {
    padding-bottom: 5px;
  }
  table td {
    padding-top: 5px;
  }
  table tr table td td {
    width: 50%;
    display: table-cell;
  }
  table tr table td td:nth-child(1) {
    min-width: 130px;
  }
}

.video-container {
  height: 0;
  padding-bottom: 56.24%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
